@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
    color: #1F1F1F;
}

img {
    background-color: inherit;
}

.App {
    min-height: 100vh;
    background-color: #F8FAFD;
}

.App_split {
    width: 100%;
    display: flex;
}

#detail{
    width: calc(100% - 50px);
    background-color: white;
    border-radius: 12px;
}