.FileControl{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.FileControl_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.FileControl_path {
    display: flex;
    gap: 25px;
}

.FileControl_view {
    display: flex;
    gap: 5px;
}

.FileControl_view_btn {
    border: none;
    line-height: 0;
    background-color: rgb(233, 238, 246);
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
}

.FileControl_view_btn:hover {
    background-color: #e0e0e0;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.15);
    transform: scale(1.05);
}

.FileControl_view_btn img {
    width: 25px;
    transition: transform 0.3s ease;
}

.FileControl_view_btn:hover img {
    transform: scale(1.1);
}
.FileControl_filter{

}