.search {
    align-self: flex-end;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 20px;
}

.search_input {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 16px;
    width: 250px;
    transition: all 0.3s ease;
    background: url("../../assets/images/loupe.svg") no-repeat right 10px center;
    cursor: pointer;
}


.search_input:focus {
    border-color: #566885;
    box-shadow: 0 0 5px rgba(86, 104, 133, 0.5);
    outline: none;
}

.search_button {
    position: absolute;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.search_button:hover {
    transform: scale(1.1);
}

.search_button:active {
    transform: scale(0.95);
}
